
.settings/language.settings.xml
.settings/stm32cubeide.project.prefs
*.o
Debug/Core/Src/MCP3008.su
*.cyclo
.settings/language.settings.xml
*.xml
*.prefs
.settings/language.settings.xml
.settings/stm32cubeide.project.prefs
*.cyclo
*.su
*.d
*.elf
*.list
*.map
*.launch
*.d
